nav {
  display: flex;
  gap: 32px;

  a {
    border-right: 1px solid rgba(0, 16, 61, 0.12);
    padding-right: 5px;

    /* H3 */
    color: rgb(44, 45, 46);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    transition: all 0.5s ease;

    &:hover {
      /* H3 */
      color: rgb(239, 124, 0);
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
    gap: 32px;

    a {
      border-right: 1px solid rgba(0, 16, 61, 0.12);
      padding-right: 5px;

      /* H3 */
      color: rgb(44, 45, 46);
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      transition: all 0.5s ease;

      &:hover {
        /* H3 */
        color: rgb(239, 124, 0);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
      }
    }
  }
}
